body {
	height: 100%;
	background: -webkit-linear-gradient(top, #FF8235, #16b859);
}
h1 {
    position: relative;
    font-size: 100px;
    text-align: center;
}
h1 div {
	text-transform: uppercase;
	font-weight: bold;
	background-color: white;
	background-image: -webkit-linear-gradient(bottom, #FF8235,   #16b859);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	width: 100%;
}
h1:after {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: transparent;
}
.main {
	margin-bottom: 100px;
}
.gradient-shadow:after {
	content: attr(title);
	font-weight: bold;
	text-transform: uppercase;
}
.white-box {
	background-color: white;
	border: 1px solid black;
	padding: 15px;
	margin: 15px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 10px 0px;
    color: black;
    font-size: 12px;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    background-color: #FF8235;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid black;
    z-index: 1;
}
#button {
	margin: 15px;
}