body {
	height: 100%;
	background: -webkit-linear-gradient(top, #FF8235, #16b859);
}
h1 {
    position: relative;
    font-size: 100px;
    text-align: center;
}
h1 div {
	font-family: "Impact", "Geneva", "Tahoma", "sans-serif";
	text-transform: uppercase;
	font-weight: bold;
	background-color: white;
	background-image: -webkit-linear-gradient(bottom, #b316b8,   #16b859);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	width: 100%;
}
h1:after {
	font-family: "Impact", "Geneva", "Tahoma", "sans-serif";
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: transparent;
}
.picture {
	background: url("../images/IMG_2849.JPG");
}
.picture1 {
	background: url("../images/IMG_2728.JPG");
}
.picture2 {
	background: url("../images/IMG_2725.JPG");
}
.picture3 {
	background: url("../images/IMG_2727.JPG");
}
.picture4 {
	background: url("../images/IMG_2733.JPG");
}
.picture5 {
	background: url("../images/IMG_2733.JPG");
}
.new-gradient {
	background: -webkit-linear-gradient(top, rgb(255, 53, 228), #3cd636);
}
.head {
	position: fixed;
	z-index: 1;
	top: 0;
}
.main {
	margin-top: 150px;
	margin-bottom: 100px;
}
.gradient-shadow:after {
	content: attr(title);
	font-weight: bold;
	text-transform: uppercase;
}
.white-box {
	background-color: white;
	border: 1px solid black;
	padding: 15px;
	margin: 15px 0px;
	width: 100%;
	height: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    padding: 10px 0px;
    color: black;
    font-size: 12px;
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    background: -webkit-linear-gradient(top, #FF8235,   #b316b8);
    text-align: center;
    line-height: 50px;
    border-top: 1px solid black;
    z-index: 1;
}
#button {
	margin: 15px 0px;
}
@media (min-width: 992px) and (max-width: 1199px) { 
	h1 {
		font-size: 80px;
	}
}
@media (min-width: 768px) and (max-width: 991px) { 
	h1 {
		font-size: 65px;
	}
}
@media (max-width: 767px) { 
	h1 {
		font-size: 50px;
	}
}