body {
	height: 100%;
	background: -webkit-linear-gradient(top, #FF8235, #16b859);
}
h1 {
    position: relative;
    font-size: 100px;
    text-align: center;
}
h1 div {
	text-transform: uppercase;
	font-weight: bold;
	background-color: white;
	background-image: -webkit-linear-gradient(bottom, #FF8235,   #16b859);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: absolute;
	width: 100%;
}
h1:after {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: transparent;
}
.gradient-shadow:after {
	content: attr(title);
	font-weight: bold;
	text-transform: uppercase;
}
.white-box {
	background-color: white;
	border: 1px solid black;
	padding: 15px;
	margin: 15px;
}
#button {
	margin: 15px;
}